.btn {
    padding: 14px 16px;
    background: #FF8C32;
    border-radius: 10px;
    &:hover {
        @apply bg-white;
        border: 1px solid #06113C;
    }
    &-text {
        @apply text-sm font-medium uppercase;
    }
  }
  