.certificate {
    @apply mx-auto;
    padding: 48px 122px 120px 122px;
    max-width: 1300px;
    background-image: url('@assets/certificate-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &-header {
        @apply text-center font-bold;
        font-size: 40px;
        line-height: 160%;
    }
    &-list {
        @apply grid grid-cols-4 gap-y-14;
        margin-top: 50px;
    }
}